body{
    background-image: linear-gradient(to right ,gray,black);
    
}
#container {
    text-align: center;
    align-items: center;
}
#container .heading h1{
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
#container .input input{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    color: white;
    font-size: 32px;
    position: relative;
    top: 60px;
}
#container .btn button{
    width: 250px;
    position: relative;
    top: 150px;
    border: 2px solid goldenrod;
    background-image:linear-gradient(to right, aliceblue, rgb(2, 2, 19)) ;
    border-radius: 10px;
    height: 40px;
    font-size: 22px;
}